.brand-gold{
    color: rgb(175, 157, 125) !important;
}

.brand-blue{
    color:rgb(29, 64, 79);
}

.large-text{
    font-size: 2em;
}

/* .arrow-after::after{
    content:'➡️';
} */

.raleway{
  font-family: 'Raleway';
}



.hero__link.appear-delay-4 {
    width: 100%;
    text-align: end;
    color: rgb(175, 157, 125) !important;
  }

  .hero__link.appear-delay-4  a {
    color: rgb(175, 157, 125) !important;
    padding: 10px 30px;
  }

  /* .hero__link.appear-delay-4  a::after {
    content: '➡️';
  } */

  .btn.btn--tertiary {
    color: rgb(29, 64, 79) !important;
    border: 1px solid rgb(175, 157, 125);
  }

[data-live-text-setting="section.template--16142744060070__9571aedf-2654-4d57-ae13-02e8073a24a1.description"] {
  margin: 0;
}

[data-section-id="template--16142744060070__f57b0b49-8d46-4eb9-86c2-3c4e15660f44"] h3:after{
  content: "⭐⭐⭐⭐⭐";
}

h2.ssw-instagram-grid-title.ssw-instagram-title {
    text-align: left;
    display: flex;
}

h2.ssw-instagram-grid-title.ssw-instagram-title:after {
  content: ""; 
  background-image: url("https://cdn.shopify.com/s/files/1/0581/8007/5686/files/1161953_instagram_icon_1.png?v=1690940507");
  background-size: 25px 25px; /* Set the size of the SVG, adjust these values as needed */
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

#shopify-section-template--16142744060070__0d08f72b-a42a-4a90-8d3d-8d32cce3de02{
  margin: 0 !important;
}

#shopify-section-sections--16142743077030__footer{
  background:#1d404f !important;
}

footer.site-footer.small--text-center {
    color: #AF9D7D !important;
}
