.brand-gold{
    color: rgb(175, 157, 125) !important;
}

.brand-blue{
    color:rgb(29, 64, 79);
}

.large-text{
    font-size: 2.5em;
}

.arrow-after::after{
    content:'➡️';
}

.raleway{
  font-family: 'Raleway';
}



.hero__link.appear-delay-4 {
    width: 100%;
    text-align: end;
    color: rgb(175, 157, 125) !important;
  }

  .hero__link.appear-delay-4  a {
    color: rgb(175, 157, 125) !important;
    padding: 10px 30px;
  }

  .hero__link.appear-delay-4  a::after {
    content: '➡️';
  }

  .btn.btn--tertiary {
    color: rgb(29, 64, 79) !important;
    border: 1px solid rgb(175, 157, 125);
  }